@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
font-family: "Bebas Neue", system-ui;
transition: all 0.3s ease;
color: white;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content:  center;
    align-items: center;
    background-color: #000000;
}
.titulo{
color: white;
justify-content: center;

}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    width: 30vw;
    height: 65vh;
}

.main-container > h2 {
    font-size: 2rem;
    margin: 30px 20px;
    color: white;
}

.content {
    width: 70%;
    height: 100px;
}

.content:hover > fieldset {
    border-color: white;
}

.content:hover > fieldset > legend {
    color: white;
}

fieldset{
    border-radius: 6px;
    border-color: white;
    font-weight: 600;
    color: white;
}

p {
    font-size: 2rem;
    margin: 0;
    margin-left: 2px;
    color: #ffffff;
}

#timestamp {
    font-size: 1rem;
}
